* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    padding-top: 50px;
}

#div_container {
    width: 100%;
    max-width: 30%;
    min-width: 500px;
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    background-color: white;
    margin: auto;
}

#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    color: blue;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 30px;
}

#title img {
    width: 3rem;
}

#input_Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border-radius: 15px;
    margin-bottom: 25px;

}

#task_input:hover {
    box-shadow: 0 0 5px;
}

#input-box {
    flex: 1;
    font-size: 16px;
    padding: 15px 15px 15px 30px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 15px 0px 0px 15px;
}

#btn_add {
    background-color: orangered;
    padding: 15px 25px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
}

#btn:hover {
    background-color: orange;
    color: black;
}

.task-element {
    min-height: 20%;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 0 0 5px;
}

.task {
    width: 100%;
    max-width: 100%;
    list-style: none;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 3px;
    border: none;
    outline: none;
    overflow: hidden;
}

.task-bg {
    background-color: lightgrey;
}

.btn {
    background-color: orangered;
    border-radius: 15px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.edit {
    margin: 5px;
    padding: 10px 20px;
}